<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adding a session</title>

     <link rel="stylesheet" href="styles/main.css"/>
    {% block css %}{% endblock %}

  </head>

  <body>

        <nav>
            <ul>
                <li><a href="/" class="item-navigation">Home</a></li>
                <li><a href="/options" class="item-navigation">handle-form</a></li>
            </ul>
        </nav>
       
    
    <form action="/home" method="post">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      </div>

      <div>
        <label for="pass">Password (4 characters minimum):</label>
        <input type="password" id="pass" name="password"
           minlength="8" required>
        </div>

        <input type="submit" value="Sign in">


    </form>

  {% block content %} {% endblock %}

  </body>
  <footer>
  </footer>
</html>