{% extends "layout.njk" %}}
{% block content %}
    <h1> Welcome dear loyal customers!  </h1>
    <form action="/logout">
    <a><button type="submit" value= "Disconnect">Disconnect</button>
    </form>

{% endblock %}